<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="/static/jquery-2.0.0.min.js"></script>
</head>
<body>
<textarea name="" id="history_data" cols="30" rows="10" placeholder="请输入resource_id和history_data"></textarea><br>
<textarea name="" id="resp_line" cols="30" rows="10" placeholder="resource_id and predict_data"></textarea><br>
<button id="submit">提交</button>
</body>
<script>
    $("#submit").click(function () {
        $.ajax({
            url:'/predict2',
            dataType:'json',
            type:'post',
            data:{
                'history_data':$("#history_data").val(),
            },
            success:function (res) {
                $("#resp_line").val('');
                $("#resp_line").val(res.data);
            }
        });
    })
</script>
</html>